@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-1vh);
  }
  25% {
    opacity: 0;
    transform: translateY(-1vh);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.logo {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: appear 1s ease-in;

  h2 {
    color: var(--secondary);
    font-weight: normal;
    letter-spacing: min(0.5vmin, 0.5rem);
    font-size: 1rem;
    text-align: center;
    margin: 0.5rem 0 0;
  }
}

.borderedArea {
  overflow: visible;
  display: flex;
  flex-direction: column;
  border: var(--border) var(--primary);
  border-radius: 110px 110px 0 0;
  max-height: 180px;
  max-width: 650px;
  width: calc(100% - 70px);

  @media (max-width: 400px) {
    border-radius: 0;
  }
}

.fiori {
  display: flex;
  position: relative;
  left: -35px;
  top: -50px;
  width: calc(100% + 70px);
  height: calc(100% + 70px);

  @media (min-width: 670px) and (max-width: 700px) {
    top: -30px;
  }

  @media (max-width: 670px) {
    top: 0;
  }

  svg {
    width: min(25vmin, 175px);
    max-width: 175px;

    &:last-of-type {
      transform: scaleX(-1);
    }
  }
}

.name {
  flex: 1;
  margin: 0 -10vmin;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  h1 {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 5rem;
    font-family: 'Gill Sans Nova Inline', serif;
    color: var(--primary);
    line-height: 1;
    font-weight: 200;
    letter-spacing: 0.03em;
    font-size: min(12vmin, 5rem);

    span {
      display: block;
      padding-left: 1.25rem;
      letter-spacing: 0.17em;
    }
  }
}
